table,
tr,
td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    padding: 7px;
    margin-bottom: 40px;
    border-collapse: collapse;
}

.h {
    /* border: 8px groove rgb(255, 255, 255); */
    padding: 10px;
    margin: 40px;
    background-color: silver;
}

.posisi {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
}

body {
    background-color: grey;
}